#login-card {
  width: 25em;
  margin: auto;
  margin-top: 15vh;
}

#signup-card {
  width: 25em;
  margin: auto;
  margin-top: 15vh;
}

#unauthorized-card {
  width: 40vw;
  margin: auto;
  margin-top: 25vh;
}

#unauthorized-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#return-button {
  margin: 1em;
}

@media (max-width: 600px) {
  #signup-card {
    margin-top: 0;
  }
  #login-card {
    margin-top: 2vh;
  }
}