.cluster-action-bar {
  display: flex;
  justify-content: space-between;
}

.cluster-action-bar #close-btn {
  /* height: 2rem; */
  /* width: 2rem; */
  /* font-size: 0.75rem; */
}

.cluster-action-bar #download-btn {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
}
