/* CREATE PROJECT */
.create {
  width: "75vw";
  height: calc(100vh - 250px);
}

.create #container {
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.create #section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #cfd8dc;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

/* DETAILS */
.create-details-card-body {
  height: 45vh;
  max-height: 400px;
  overflow-y: auto;
}

/* width */
.create-details-card-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.create-details-card-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.create-details-card-body::-webkit-scrollbar-thumb {
  background: #cfd8dc;
}

/* Handle on hover */
.create-details-card-body::-webkit-scrollbar-thumb:hover {
  background: #607d8b;
}

/* UPLOAD */

.create #upload-text-muted {
  font-size: 0.75rem;
  margin: 0;
  margin-top: -0.25rem;
  padding: 0;
  color: #607d8b;
  margin-left: 0.25rem;
}

.create .preview-container-editable {
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0.5rem;
  overflow-y: auto;
  height: 100%;
  min-height: 150px;
  max-height: 400px;
  width: 100%;
  outline: none !important;
  border: 1px solid #b0bec5;
  resize: vertical;
  overflow: auto;
}

.create .preview-container-editable:focus {
  border: 1px solid black;
}

input[type="file"] {
  display: none;
}

/* PREPROCESSING */
.create .preview-container {
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0.5rem;
  overflow-y: auto;
  height: 100%;
  min-height: 150px;
  max-height: 400px;
  width: 100%;
  border: 1px solid #b0bec5;
}

.create .schema #input-row {
  justify-content: center;
  margin: 1rem 0rem 0.5rem 0rem;
}

.create .schema #preview-row {
  max-height: 20vh;
  overflow-y: auto;
  margin: 1rem 1rem 0rem 1rem;
}

.create .schema #preview-row #create-tag-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

.create .schema #preview-row #create-tag-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.create .schema #preview-row #create-tag-remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #f44336;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  margin: 0rem 0rem 0rem 0rem;
}

.create #remove-button {
  color: white;
  background-color: #f44336;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
}

.create #add-button {
  color: white;
  background-color: #43a047;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.2rem;
}

.create #section-subtitle {
  font-weight: bold;
  color: #455a64;
  margin: 0em 0em 0.25em 0em;
}

.create #info-label {
  margin-left: 2px;
  color: grey;
}

.create #stepper-control-row {
  margin-top: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
}

/* Stepper components */

.multi-stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.stepper-spacer {
  display: block;
  border-color: #bdbdbd;
  border-top-style: solid;
  border-top-width: 1px;
  width: 50px;
}

@media (max-width: 800px) {
  .multi-stepper {
    display: none;
  }
}

@media (max-height: 600px) {
  .multi-stepper {
    display: none;
  }
}

/* SCHEMA */

.schema .list-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #eceff1;
  border: 1px solid #cfd8dc;
}

.schema .list-drag-zone {
  cursor: pointer;
}

.schema #colour-example {
  width: 20px;
  height: 10px;
}

.schema #down-caret {
  outline: none;
  border: none;
  background-color: transparent;
  color: #78909c;
}

.schema #delete-btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: #78909c;
  opacity: 0.5;
}

.schema #delete-btn:hover {
  color: #f44336;
  opacity: 1;
}

.schema #entity-input {
  border: none;
  /* outline: 1px solid #90a4ae; */
  text-align: center;
}

.schema #entity-input:hover {
  text-align: center;
  border: 1px solid #b0bec5;
  border-radius: 0.25rem;
  background-color: #cfd8dc;
}

.schema #entity-input:focus {
  border: 1px solid #90a4ae;
  border-radius: 0.25rem;
  outline: none;
}

.schema .grab-icon {
  content: "....";
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -0.7em;
  margin-right: 0.3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}
