.main {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* 250px for the header/footer and 2.5rem is for the filter bar that can pop out */
  height: calc(100vh - 250px - 2.5rem);
  max-height: auto;
  max-width: 1200px;
  padding: 0;
}

#main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem 0rem 1rem;
}

#main-cluster-container {
  margin-top: auto;
  margin-bottom: 0;
}

#main-paginator-container {
  display: flex;
  justify-content: right;
  /* margin: 0rem 1rem 0rem 0rem; */
}

.sidebar {
  margin: auto 1rem;
  height: 100%;
  min-height: 300px;
  max-height: calc(100% - 250px);
  overflow-y: auto;
  background-color: #fff;
  padding: 0.5rem;
  width: 100%;
  /* max-width: 300px; */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sidebar[relationmode="true"] {
  border-color: #28a745;
  pointer-events: none;
  opacity: 0.25;
  /* display: none; */
}

/* https://marcoslooten.com/blog/creating-avatars-with-colors-using-the-modulus/ */
#avatar-icon {
  width: 2rem;
  height: 2rem;
  background-color: #263238;
  border-radius: 50%;
  font-family: sans-serif;
  color: #b0bec5;
  font-weight: bold;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}

@media (max-height: 800px) {
  .sidebar {
    margin-top: 4rem;
    margin-bottom: 0rem;
  }
}
