/* GRAPH */
#graph-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

#graph-filter-title {
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#graph-filter-items {
  width: 100%;
}

#graph-filter-btn-group {
  display: flex;
  justify-content: center;
  margin: 0.25rem;
}

#graph-filter-search {
  /* width: 100px; */
  height: 1.5rem;
  margin: 0.25rem;
  width: 70%;
  font-size: 0.75rem;
}

#graph-info-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0.25rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

#graph-info-title {
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#graph-info-icon {
  font-size: 1.25rem;
}

#graph-info-content {
  padding: 0;
  margin: 0.5rem;
  text-align: center;
  max-height: 100px;
  overflow-y: auto;
}

#graph-overview-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0rem 1rem 1rem 0rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 3rem;
}

#graph-overview-container #metric-container {
  align-items: center;
  font-weight: bold;
  cursor: help;
}

/* #graph-overview-container #metric-container:hover {
    background-color: #eceff1;
    border-radius: 0.25rem;
  } */
