annotated-types==0.7.0
black==24.10.0
cfgv==3.4.0
click==8.1.7
distlib==0.3.9
filelock==3.16.1
flake8==7.1.1
identify==2.6.1
isort==5.13.2
mccabe==0.7.0
mypy==1.13.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pre_commit==4.0.1
pycodestyle==2.12.1
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
pyflakes==3.2.0
python-dotenv==1.0.1
PyYAML==6.0.2
-e git+https://github.com/nlp-tlp/quickgraph@39ae2a2f6b7982c0dc5557657b1c8864db5281b8#egg=quickgraph&subdirectory=server
tomli==2.0.2
typing_extensions==4.12.2
virtualenv==20.27.0
