html {
  scroll-behavior: smooth;
}

.landing {
  text-align: left;
}

.landing #main {
  height: 100vh;
}

.landing #details {
  height: 100vh;
  /* padding-top: 20vh; */
}

.landing #row-title {
  margin-top: 25vh;
  justify-content: left;
  margin-left: 3rem;
  font-weight: bold;
  color: #263238;
}

@media (max-width: 600px) {
  #title-icon {
    display: none;
  }
  .landing #row-title {
    margin-left: 0;
    justify-content: center;
  }
  .landing #row-description h3 {
    justify-content: center;
  }
}

.landing #row-signup {
  margin-top: 10vh;
  justify-content: left;
  margin-left: 3rem;
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

#github,
#youtube,
#information {
  cursor: pointer;
}

#github:hover {
  color: black;
}

#youtube:hover {
  color: #ff0000;
}

#information:hover {
  color: #9e9e9e;
}

.landing #row-details {
  justify-content: center;
}

.landing #row-details #box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem;
  transition: 0.3s;
  min-height: 25vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
