.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 0.5px solid #cfd8dc;
  background-color: #f8f9fa;
  color: black;
  height: 4rem;
}

.footer p {
  margin: auto;
}

.footer #copyright {
  font-size: 1rem;
}

.footer #copyright a {
  color: black;
  font-weight: bold;
}

.footer #author {
  font-size: 0.75rem;
}

.footer #author a {
  color: #263438;
  font-weight: bold;
}

@media (max-height: 800px) {
  .footer {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer {
    display: none;
  }
}
