/* TOKEN CONTAINER */

#token-container[focus="true"] #label {
  border: 2px solid red;
}

#token-container[related="false"] #token {
  opacity: 0.25;
  cursor: auto;
}

#token-container[related="true"] #label::before {
  content: attr(data-content);
  margin: auto 0.5rem auto 0rem;
  background-color: grey;
  border-radius: 0.2rem;
  color: white;
  font-size: 8px;
  padding: 1px 4px;
  font-weight: bold;
}

#token-container[related="false"] #label {
  background-color: grey !important;
  color: black;
  opacity: 0.25;
}

/* TOKEN */

#token {
  padding: 4px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color: rgb(236, 239, 241);
  z-index: 1;
  position: relative;
  margin-top: 0.25rem;
}

#token:hover {
  background-color: rgba(176, 190, 197, 0.25) !important;
}

#token[annotated="false"]::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 1px;
  width: 90%;
  border-bottom: 2px solid rgba(176, 190, 197, 0.5) !important;
}

.annotation-table #token[annotated="true"]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 2px solid rgba(176, 190, 197, 0.5) !important;
}

#token[currentlyselected="true"][pos="middle"]::before {
  display: none;
}

#token[currentlyselected="true"] {
  /* #b0bec5 */
  background-color: rgba(176, 190, 197, 0.5) !important;
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6); */
  /* background: linear-gradient(-90deg, lightgrey, grey, grey, lightgrey); */
  /* background-size: 400% 400%;
  animation: gradient 5s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TOKEN LABEL STYLES */
#label {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.25rem 0rem 0.25rem;
  height: 1.25rem;
  font-size: 0.7rem;
  opacity: 1;
  text-transform: capitalize;
}

#label:hover {
  opacity: 1;
}

#label[pos="middle"]::before {
  display: none;
}

#label[pos="end"]::before {
  display: none;
}

#label[suggested="true"] {
  opacity: 0.5;
}

#label[pos="start"] {
  margin-bottom: 2px;
}

#label[pos="middle"] {
  color: transparent !important;
  margin-bottom: 2px;
  user-select: none;
}

#label[pos="end"] {
  margin-bottom: 2px;
  color: transparent !important;
  user-select: none;
  text-align: right;
}

#label[pos="start-single"] {
  margin-bottom: 2px;
}

/* LABELS FOR RELATIONS */
#label[hasSuggestedRelation="true"] {
  border-bottom: 4px dotted rgb(55, 71, 79);
}

#label #relation-badge {
  padding: 4px 3px;
  margin: auto 4px auto 2px;
}

#label[pos="middle"] #relation-badge {
  display: none;
}

#label[pos="end"] #relation-badge {
  display: none;
}

#label #relation-badge[suggested="true"] {
  opacity: 0.75;
}

#label[source="true"] {
  -webkit-animation: glow linear 1.5s infinite;
  animation: glow linear 1.5s infinite;
}

@-webkit-keyframes glow {
  0% {
    background-color: attr(colour);
  }
  50% {
    background-color: #eeeeee;
  }
  100% {
    background-color: attr(colour);
  }
}
@keyframes glow {
  0% {
    background-color: attr(colour);
  }
  50% {
    background-color: #eeeeee;
  }
  100% {
    background-color: attr(colour);
  }
}

/* Open Relation Popover styling */
.open-relation-tooltip > .tooltip-inner {
  background-color: #eeeeee !important;
  border: 1px solid #90a4ae;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #90a4ae !important;
}
